.body {
    position: fixed;
    z-index: 5000;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(17, 17, 17, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}
.mask {
    position: fixed;z-index: 90;
    top: 0;left: 0;right: 0;bottom: 0;
    background: #000;
}